*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    vertical-align: top;   
}

/* ECRITURES */

h1{
    text-align: center;
    color : white;
    padding : 20px 0;
    font-size: 5em;
}

P{
    font-size: 1.5em;
}

/* //////////////////////////////////////////// */

header{
    width : 80vh;
    background-color: rgba(12, 145, 223, 0.767);
    text-align: center;
    margin : 10px auto 20px auto;
    
    border-radius: 20px;    
}



.container{    
    padding : 20px 0;
    border : 1px solid orange;
    border-radius: 20px;   
    text-align: center;
    margin : auto auto;
}

nav{
    width : 200px;
    padding : 0;
    border : 1px solid orange;
    border-radius: 15px;   
    text-align: center;
    margin-right: 50px;
}

ul{
    padding : 0;
}

li{
    list-style-type: none;
}

#menu{
    background-color: orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding : 5px 10px;
    color : white;
    font-weight: bold;
}

.btn_submit{
    text-decoration: none;
    border: none;
    background-color: rgba(12, 145, 223, 0.767);
    border-radius: 15px;
    padding : 5px 10px;
    margin : 0 5px;
    color : white;
    font-weight: bold;
    font-size: 1.5em;
}

section{
    width : 80vh;
    display : flex;
    flex-direction: row;
    margin : auto;
}

